body {
	background-color: black;
	margin: 0;
	overflow: hidden;
}

#img-group {
	display: flex;
	gap: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%);
	user-select: none;
}

.images {
	width: 320px;
	height: 500px;
	object-fit: cover;
	object-position: 100% center;
	-webkit-user-drag: none;
}
