body {
	background-color: black;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.gallery {
	display: flex;
	gap: 20px;
	user-select: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%);
}

.images {
	width: 320px;
	height: 500px;
	object-fit: cover;
	object-position: 100% center;
}
